@media(max-width:768px){
  .modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
@media(max-width:1200px){
  .modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}